.u-block-dd15-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-dd15-3 {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
}

.u-block-dd15-4 {
  position: absolute;
  right: 0;
  width: 46px;
  height: 46px;
}

@media (max-width: 1399px) {
  .u-block-dd15-3 {
    width: 31px;
    height: 31px;
  }

  .u-block-dd15-4 {
    width: 31px;
    height: 31px;
  }
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 143px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 651px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1-1 .u-image-1 {
  width: 540px;
  height: 631px;
  object-position: 54.03% 50%;
  margin: 20px 0 0 auto;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 651px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1-1 .u-btn-1 {
  --radius: 50px;
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
  margin: 20px auto 0 0;
  padding: 10px 64px 10px 63px;
}

@media (max-width: 1399px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-1-1 .u-image-1 {
    height: 584px;
    width: 470px;
    margin-top: 64px;
    margin-right: auto;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 649px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 27px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-left: 27px;
  }

  .u-section-1-1 .u-btn-1 {
    letter-spacing: 1px;
    padding-top: 9px;
    padding-right: 60px;
    padding-left: 59px;
  }
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1-1 .u-image-1 {
    height: 509px;
    width: 410px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: 104px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    height: 416px;
    width: 353px;
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-1-1 .u-image-1 {
    height: 401px;
    width: 340px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

 .u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-layout-wrap-1 {
  margin-top: 93px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1-2 .u-image-1 {
  height: 449px;
  width: 570px;
  margin: 0 auto;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-2 .u-text-1 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 187px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1-2 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  --radius: 50px;
  text-transform: none;
  margin: 20px auto 0 0;
  padding: 7px 53px 8px;
}

@media (max-width: 1399px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-top: 94px;
    width: auto;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-2 .u-image-1 {
    inset: auto;
    height: -8px;
    width: -10px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 648px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    font-size: 2.5rem;
    margin-left: 27px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-left: 27px;
  }

  .u-section-1-2 .u-btn-1 {
    letter-spacing: 1px;
    padding: 9px 60px 10px 59px;
  }
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1-2 .u-image-1 {
    height: 250px;
    width: 318px;
    margin-top: 117px;
    margin-right: 13px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 1px;
    margin-left: 26px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-right: 1px;
    margin-left: 26px;
  }

  .u-section-1-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 27px;
  }
}

 .u-section-1-3 {
  background-image: none;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-3 .u-layout-wrap-1 {
  margin-top: 93px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1-3 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 0 30px 2px;
}

.u-section-1-3 .u-image-1 {
  height: 503px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1-3 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 170px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1-3 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  --radius: 50px;
  text-transform: none;
  margin: 20px auto 0 0;
  padding: 10px 54px 10px 53px;
}

@media (max-width: 1399px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-1-3 .u-image-1 {
    height: 647px;
    margin-top: 0;
    object-position: 0% 50%;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 649px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    font-size: 2.5rem;
    margin-left: 27px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-left: 27px;
  }

  .u-section-1-3 .u-btn-1 {
    letter-spacing: 1px;
    padding-top: 9px;
    padding-right: 60px;
    padding-left: 59px;
  }
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1-3 .u-image-1 {
    height: 509px;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    margin-top: 84px;
    width: auto;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-3 .u-image-1 {
    height: 423px;
    width: 330px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 18px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-3 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-1-3 .u-image-1 {
    height: 463px;
    width: 385px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    margin-top: 43px;
    width: auto;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-1-3 .u-image-1 {
    height: 409px;
    width: 340px;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

 .u-section-1-4 {
  background-image: none;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-4 .u-layout-wrap-1 {
  margin-top: 94px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1-4 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-1-4 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-1-4 .u-image-1 {
  height: 587px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-4 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-1-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1-4 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  --radius: 50px;
  text-transform: none;
  margin: 20px 0 0;
  padding: 10px 54px 10px 53px;
}

@media (max-width: 1399px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1-4 .u-layout-wrap-1 {
    margin-top: 112px;
    width: auto;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-4 .u-image-1 {
    height: 621px;
    object-position: 0% 48.32%;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-1-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-4 .u-text-1 {
    width: auto;
    font-size: 2.5rem;
    margin-left: 27px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-left: 27px;
  }
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1-4 .u-image-1 {
    height: 509px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-top: 8px;
  }

  .u-section-1-4 .u-image-1 {
    height: 429px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-1-4 .u-image-1 {
    height: 372px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 96px;
  background-image: url("images/logo.png");
  background-position: 50% 50%;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 59px 112px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 87px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 328px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-3 .u-image-1 {
  height: 222px;
  width: 200px;
  margin: 0 53px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-3 .u-image-2 {
  height: 222px;
  width: 200px;
  margin: 0 53px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-3 .u-image-3 {
  height: 222px;
  width: 200px;
  margin: 0 53px;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-3 .u-image-4 {
  height: 222px;
  width: 200px;
  margin: 0 53px;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 266px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 894px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1313px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 18px 112px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 991px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 85px;
  height: 87px;
  margin: 395px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  min-height: 436px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 130px;
  height: 132px;
  margin: 339px auto 0 0;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  min-height: 436px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-4 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-group-5 {
  min-height: 436px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 85px;
  height: 87px;
  margin: 348px auto 0 162px;
}

.u-section-4 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-11 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  min-height: 436px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-4 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-4 .u-text-13 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 30px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 854px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-4 .u-group-1 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-3 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-4 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-4 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-5 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-5 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-6 {
    min-height: 422px;
    width: 372px;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-image-6 {
    width: 74px;
    height: 76px;
    margin-top: 0;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.5rem;
    margin-top: -378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 34px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 986px;
    grid-auto-columns: calc(33.3333% - 20px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-1 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-2 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-3 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-4 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-5 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-6 {
    min-height: 320px;
    width: 463px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 234px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.875rem;
    margin-top: -275px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1279px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-4 .u-group-1 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 151px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -197px;
  }

  .u-section-4 .u-group-2 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 151px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -197px;
  }

  .u-section-4 .u-group-3 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 79px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -197px;
  }

  .u-section-4 .u-group-4 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 151px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -197px;
  }

  .u-section-4 .u-group-5 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 151px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -197px;
  }

  .u-section-4 .u-group-6 {
    min-height: 243px;
    width: 730px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 151px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -197px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 69px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-5 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-6 {
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-top: -192px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 873px;
}

.u-section-5 .u-video-1 {
  height: 579px;
  margin: 50px 0 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 50px 0 60px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-5 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .embed-responsive-1 {
    top: -182%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .embed-responsive-1 {
    top: -39%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-5 .u-video-1 {
    height: 501px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .embed-responsive-1 {
    width: 191%;
    height: 100%;
    left: -45%;
    top: 0%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .embed-responsive-1 {
    width: 303%;
    left: -101%;
  }
} .u-section-6 {
  min-height: 898px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 38px auto 0;
}

.u-section-6 .u-image-1 {
  height: 769px;
  margin-top: 39px;
  margin-bottom: 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-image-1 {
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 384px;
  }

  .u-section-6 .u-image-1 {
    height: 236px;
    margin-bottom: 38px;
  }
} .u-section-7 {
  background-color: #ec6a43;
  background-position: 50% 50%;
  height: 400px;
}

.u-section-7 .u-sheet-1 {
  min-height: 573px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 72px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  width: 612px;
  margin: 72px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 10px);
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 90px;
  grid-gap: 15px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/appstore.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/googleplay.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 7px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/appgallery.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 7px;
}

@media (max-width: 1399px) {
   .u-section-7 {
    min-height: 400px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 10px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 408px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 211px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-list-1 {
    width: 395px;
    margin-top: 41px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 10px);
    grid-template-columns: repeat(3, calc(33.3333% - 10px));
    min-height: 69px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: auto;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-list-1 {
    width: 291px;
    margin-top: 42px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 65px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-list-1 {
    width: 170px;
    margin-top: 18px;
    margin-bottom: 59px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 75px;
  }
}