 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('images/16618.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 386px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 60px 850px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 684px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 484px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1224px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 995px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 478px;
  --radius: 23px;
  height: 479px;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 135px;
  height: 137px;
  margin: 372px auto 0 367px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 85px;
  height: 87px;
  margin: 348px auto 0 305px;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: 18px 18px 0 -10px;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 85px;
  height: 87px;
  margin: 372px auto 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -458px 30px 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 82px 48px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    width: 437px;
    margin-top: 127px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 857px;
  }

  .u-section-2 .u-group-1 {
    min-height: 438px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 424px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 424px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 424px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    min-height: 424px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-6 {
    min-height: 424px;
    width: 363px;
    margin-top: -18px;
    margin-right: -13px;
    margin-left: 10px;
    height: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 338px;
    margin-bottom: -11px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -368px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 704px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
    min-height: 1249px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 146px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 127px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 36px;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 12px 30px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 58px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 996px;
}

.u-section-4 .u-text-1 {
  width: 975px;
  margin: 65px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/support12x.png");
  background-position: 50% 50%;
  min-height: 313px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 313px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 313px;
  background-image: url("images/2149853130.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 313px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 313px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 313px;
  background-image: url("images/2149106422.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 313px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-4 {
  min-height: 313px;
  background-image: url("images/2149128310.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    margin-right: 345px;
  }

  .u-section-4 .u-image-1 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-4 .u-image-2 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 270px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 270px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 328px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 270px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 145px;
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-4 .u-image-2 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 223px;
  }

  .u-section-4 .u-image-3 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 270px;
  }

  .u-section-4 .u-image-4 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-4 .u-text-1 {
    margin-right: auto;
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 80px;
  }

  .u-section-4 .u-image-1 {
    min-height: 376px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 171px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 6px;
    padding-left: 7px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 6px;
    padding-left: 8px;
  }

  .u-section-4 .u-image-3 {
    min-height: 369px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-image-4 {
    min-height: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2503px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 77px;
  }

  .u-section-4 .u-image-1 {
    min-height: 580px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 513px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 484px;
  }

  .u-section-4 .u-image-4 {
    min-height: 513px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1813px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 365px;
  }

  .u-section-4 .u-image-2 {
    min-height: 323px;
  }

  .u-section-4 .u-image-3 {
    min-height: 305px;
  }

  .u-section-4 .u-image-4 {
    min-height: 323px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 18px 112px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 408px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 38px 30px 0;
}

.u-section-5 .u-group-1 {
  min-height: 403px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -106px 18px 0 -10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: -215px 48px 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px 30px 0;
}

.u-section-5 .u-group-2 {
  min-height: 403px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -106px 18px 0 -10px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  font-size: 1.5rem;
  margin: -215px 48px 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px 30px 0;
}

.u-section-5 .u-group-3 {
  min-height: 403px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -106px 18px 0 -10px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-size: 1.5rem;
  margin: -215px 48px 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 350px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 358px;
    width: 352px;
    margin-top: -124px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -152px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    min-height: 358px;
    width: 352px;
    margin-top: -96px;
    height: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: -181px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    min-height: 358px;
    width: 352px;
    margin-top: -96px;
    height: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: -181px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 285px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 29px;
  }

  .u-section-5 .u-group-1 {
    min-height: 253px;
    width: 455px;
    margin-top: -75px;
    margin-left: -18px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -132px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-5 .u-group-2 {
    min-height: 253px;
    width: 455px;
    margin-top: -75px;
    margin-left: -18px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -132px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-5 .u-group-3 {
    min-height: 253px;
    width: 455px;
    margin-top: -75px;
    margin-left: -18px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -132px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(50% - 15px);
    min-height: 700px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-5 .u-group-1 {
    min-height: 194px;
    width: 721px;
    margin-top: -71px;
    margin-left: -19px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -115px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 24px;
  }

  .u-section-5 .u-group-2 {
    min-height: 194px;
    width: 721px;
    margin-top: -71px;
    margin-left: -19px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -115px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 24px;
  }

  .u-section-5 .u-group-3 {
    min-height: 194px;
    width: 721px;
    margin-top: -71px;
    margin-left: -19px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -115px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-top: -83px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    margin-top: -83px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-top: -83px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-group-1 {
    min-height: 177px;
    width: 300px;
    margin-top: -72px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-text-3 {
    margin: -87px 9px -84px -9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 33px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-group-2 {
    min-height: 177px;
    width: 300px;
    margin-top: -72px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-text-5 {
    margin: -87px 9px -84px -9px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 33px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-group-3 {
    min-height: 177px;
    width: 300px;
    margin-top: -72px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-5 .u-text-7 {
    margin: -87px 9px -84px -9px;
  }
}