 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('../../images/16618.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 386px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 0 60px 726px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 684px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 484px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 876px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-family: Cairo;
  margin: 42px 112px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 654px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-size: 1.25rem;
  width: 313px;
  margin: 48px auto 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 57px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 593px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 73px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1021px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 58px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1279px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 28px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 28px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 28px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 28px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 28px;
    margin-bottom: -18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 146px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 36px;
  font-size: 1.5rem;
  margin: 0 auto 0 31px;
  padding: 12px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 127px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 12px 0 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 146px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 996px;
}

.u-section-4 .u-text-1 {
  width: 975px;
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 313px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 313px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("../../images/support12x.png");
  background-position: 50% 50%;
  --radius: 25px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 313px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 313px;
  background-image: url("../../images/2149853130.jpg");
  background-position: 50% 50%;
  --radius: 22px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 313px;
  background-image: url("../../images/2149106422.png");
  background-position: 50% 50%;
  --radius: 20px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 313px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-image-4 {
  min-height: 313px;
  background-image: url("../../images/2149128310.jpg");
  background-position: 50% 50%;
  --radius: 19px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 313px;
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    margin-right: 345px;
  }

  .u-section-4 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 270px;
  }

  .u-section-4 .u-image-1 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-4 .u-image-2 {
    min-height: 328px;
  }

  .u-section-4 .u-image-3 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 270px;
  }

  .u-section-4 .u-image-4 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 328px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 145px;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-4 .u-image-1 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-4 .u-image-2 {
    min-height: 270px;
  }

  .u-section-4 .u-image-3 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 223px;
  }

  .u-section-4 .u-image-4 {
    min-height: 223px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 80px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 337px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 337px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 6px;
    padding-left: 7px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-2 {
    background-position: 68.92% 50%;
    min-height: 337px;
  }

  .u-section-4 .u-image-3 {
    min-height: 216px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 216px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 6px;
    padding-left: 8px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-4 {
    min-height: 216px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 216px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2730px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 74px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 311px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    min-height: 356px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1813px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 300px;
  }

  .u-section-4 .u-image-2 {
    min-height: 196px;
  }

  .u-section-4 .u-image-3 {
    min-height: 224px;
  }

  .u-section-4 .u-image-4 {
    min-height: 224px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 518px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 18px 112px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 304px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 48px 30px 0 -20px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  width: 324px;
  margin: 48px auto 0 -20px;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 48px 30px 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  width: 324px;
  margin: 48px auto 0 -20px;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 48px 30px 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  width: 324px;
  margin: 48px auto 0 -20px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 260px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(33.3333% - 20px);
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(50% - 15px);
    min-height: 739px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 29px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 29px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    font-weight: 700;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    font-weight: 700;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}