 .u-section-1 {
  background-image: url("images/woman-wearing-safety-cap-work_23-2148976254.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 344px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 43px 0 60px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-shape-1 {
  width: 317px;
  height: 258px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -174px 0 0 auto;
}

.u-section-3 .u-list-1 {
  margin-bottom: 49px;
  margin-top: 49px;
  margin-left: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 256px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 60px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-icon-1 {
  font-size: 2.25em;
  vertical-align: -7px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 60px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-icon-2 {
  font-size: 2.25em;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -149px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 27px;
    margin-top: 28px;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 221px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -157px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 55px;
    margin-top: 74px;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3 .u-shape-1 {
    width: 270px;
    height: 212px;
    margin-top: -32px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: -155px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 40px;
    margin-top: 41px;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -106px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
    margin-top: 43px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-3 .u-shape-1 {
    width: 170px;
    height: 125px;
    margin-top: 42px;
    margin-left: -32px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -107px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 74px;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 64px 0 0 224px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 73px;
  margin-bottom: 23px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 991px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 12px;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 12px;
}

.u-section-4 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 12px;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-group-5 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 12px;
}

.u-section-4 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 38px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  min-height: 478px;
  --radius: 23px;
  height: auto;
  width: 412px;
  margin: -10px -10px 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 12px;
}

.u-section-4 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 72px 0 0 54px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    margin-left: 44px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 854px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-4 .u-group-1 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-2 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-3 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-4 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-5 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-6 {
    width: 373px;
    margin-right: -13px;
    height: auto;
  }

  .u-section-4 .u-text-13 {
    font-size: 1.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 67px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 942px;
    grid-auto-columns: calc(33.3333% - 20px);
  }

  .u-section-4 .u-group-1 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-group-2 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-group-3 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-group-4 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-group-5 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-group-6 {
    width: 462px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2546px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2184px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-4 .u-group-1 {
    min-height: 349px;
    width: 722px;
  }

  .u-section-4 .u-group-2 {
    min-height: 349px;
    width: 722px;
  }

  .u-section-4 .u-group-3 {
    min-height: 349px;
    width: 722px;
  }

  .u-section-4 .u-group-4 {
    min-height: 349px;
    width: 722px;
  }

  .u-section-4 .u-group-5 {
    min-height: 349px;
    width: 722px;
  }

  .u-section-4 .u-group-6 {
    min-height: 349px;
    width: 722px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2567px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-group-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-group-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-group-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
  }
}