 .u-section-1 {
  background-image: url("images/2148825936.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 948px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 564px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 15px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 396px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 1201px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -79px 121px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 21px 121px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 1201px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -79px 121px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 21px 121px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-2 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 1201px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -79px 121px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 21px 121px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-list-1 {
    margin-top: 65px;
    margin-bottom: 27px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 1021px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 98px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-right: 98px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 1021px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 98px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 19px;
    margin-right: 98px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 1021px;
    height: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 98px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 19px;
    margin-right: 98px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-left: 821px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: 821px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: 821px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: 601px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 601px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 601px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 18px;
    margin-left: 441px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 98px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 18px;
    margin-left: 441px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 98px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 18px;
    margin-left: 441px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-left: 241px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: 241px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: 241px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }
}